* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.userTable{
    position: relative;
    top: -380px;
    margin-left: auto;
    margin-right: auto;
    width:85%;
   
}

.firstSection{
    width: 50vw;
    position: relative;
    height: 80vh;
    left: -10px;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
   margin-bottom: 2px;
}

.secondSection{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: -50px;
    top: -48px;
    width: 50vw;
    height: 80vh;
}

.thirdSection{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: -90px;
    top: 13px;
    width: 50vw;
    height: 80vh;
}

.forthSection{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: -120px;
    top: -45px;
    width: 50vw;
    height: 80vh;
}

.mainSection{
    width: 100vw;
    display: flex;
    height: 100vh;
}

.btnUserUpdate{
    position: absolute;
    width: 120px;
    height: 40px;
    right: 108px;
    top: 100px;
    border: none;
    color: black;
    background-color: lightblue;
    border-radius: 5px;
}

/* .tableRows{
    color: brown;
} */

