
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.loginCard{
    position: relative;
    top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 80vh;
    border: 2px solid red;
}

a{
    text-decoration: none;
    color:black;
}


#navivar{
    height: 45px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#loginSection{
    position: relative;
    text-align: center;
    margin: auto;
}

#loginSection h1{
    top: 40px;
    position: relative;
}

#loginSection p{
    top: 103px;
    position: relative;
    font-weight: 100;
    color: rgb(73, 73, 73);

}

